.dev-garbage/
.setup-scripts/
.vscode/
.venv/
.venv-termux
tests/
test-downloads/
__pycache__/
.ruff_cache/
.pytest_cache
setups/
build/
dist/
.scraps/
.credentials/

crap.py
.todo
NOTE
scripts/changelog.md
