.dev-garbage/
.test-downloads/
.setup-scripts/
.venv/
.venv-termux
tests/
test-downloads/
__pycache__/
.ruff_cache/
.pytest_cache
release/
build/
dist/
.scraps/
.credentials/
.vscode/*
senpwai/scrapers/tokyo/
!.vscode/extensions.json

crap.py
NOTE
scripts/changelog.md
.env
tokyo.html

## pyenv variables
.python-version